.words {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  height: 92vh;
  .word-button {
    width: 130px;
    height: 130px;
    border-radius: 70px;
    color: #000;
    font-size: 30px;
    margin: 20px;
    background: #1e9600; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to bottom,
      #ff0000,
      #fff200,
      #1e9600
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      #ff0000,
      #fff200,
      #1e9600
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    &:hover {
      box-shadow: 1px 1px 8px darkgray;
      cursor: pointer;
      border: 1px solid gray;
    }
  }
}
